<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
    <title>view</title>
  </head>
  <body>
      <div class="container">
            <div class="card" id="card">
             <div class="card-title"><i class="material-icons">menu</i> <div class="Overr">Overview</div></div>
              <div class="card-body">             
               <div class="circle"><div>265<br> <small>Total</small></div></div>
                   <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <i class="material-icons" style="color: #00bcd4">radio_button_unchecked</i> COMPLETED
                          <div class="smalll"><small> 180 &nbsp; 68%</small></div>
                      </li>
                      <li class="list-group-item">
                         <i class="material-icons" style="color: #673AB7;">radio_button_unchecked</i> SNOZED  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<div class="smalll"><small>64 &nbsp;24%</small></div>
                       </li>
                      <li class="list-group-item"> <i class="material-icons" style="color: orange;">radio_button_unchecked</i> OVERDUE&nbsp; &nbsp; &nbsp;  &nbsp;<div class="smalll"><small> 21 &nbsp; 8%</small></div>
                      </li>
                   </ul>      
              </div>
            <div class="add"><i class="material-icons">add_circle</i>
            </div>
          </div>        
      </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" ></script>
  </body>
</html>